{% from 'bootstrap/form.html' import render_form %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <title>Gene Aligner</title>
  </head>
  <body>
    <div class="container-fluid">
        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Settings</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <h4 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            {{ render_form(gene_form) }}
            {{ render_form(settings_form) }}
            {{ render_form(wipe_form) }}
          </div>
        </div>
    </div>
    <div class="container-fluid">
        <p>
            {{ db_message }}
        </p>
        <pre>
            {{ alignment_data }}
        </pre>
    </div>
  </body>
</html>
