<!doctype html>
<title>Alignment App</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Gene Alignment!</h1>
</nav>

<section class="content">
    <header>
        {% from "_formhelpers.html" import render_field, render_checked_field %}
        <form method="post">
            <dl>
                {{ render_field(input_form.gene_name) }}
                {{ render_field(input_form.gene_content) }}
                {{ render_field(input_form.output_type) }}
                {{ render_field(input_form.wrap_number) }}

                {{ input_form.align_button }}
            </dl>
        </form>
        <form method="post">
            <d1>
                {{ wipe_form.wipe_submit }}
            </d1>
        </form>
    </header>
<section class="content">
   <header> 
       <p>
            <pre>
            {{ db_message }}
            </pre>
       </p>
   </header>
   <header>
       <p>
            <pre>
            {{ alignment_data }}
            </pre>
       </p>
   </header>
</section>

