{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Gene Aligner{% endblock %}

{% block navbar %}
    <h1>Gene Alignment!</h1>
{% endblock %}

{% block content %}
    <div class="col-md-4">
        {{ wtf.quick_form(input_form) }}
    </div>

    <div class="-md-4">
        {{ wtf.quick_form(wipe_form) }}
    </div>

    <div class="alert alert-info" role="alert">
            {{ db_message }}
    </div>

    <div class="container-fluid">
    <pre>
            {{ alignment_data }}
    </pre>
    </div>

{% endblock %}

                {{ input_form.csrf_token }}
                {{ render_field(input_form.gene_name) }}
                {{ render_field(input_form.gene_content) }}
                {{ render_field(input_form.output_type) }}
                {{ render_field(input_form.wrap_number) }}

                {{ input_form.align_button }}
                {{ wipe_form.wipe_submit }}
